# Score :

#### There are so many columns!!!  This will take forever preparing everything!

In [1]:
import pandas as pd

master_training_data = pd.read_csv('../data/house_prices/train.csv')
master_testing_data = pd.read_csv('../data/house_prices/test.csv')

In [2]:
master_training_data.head(5)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

### Removing shady columns.  Perhaps more to remove in the future

In [3]:
# MiscVal: $Value of miscellaneous feature
# MiscFeature: Miscellaneous feature not covered in other categories
# BsmtQual: Height of the basement
# Utilities: Type of utilities available <-- removed because it's homogeneous
# Condition2: Proximity to main road or railroad (if a second is present) <-- removed because it's homogeneous
# PoolQC <--- Too little data
# Fence <-- Some data, but I'm ignoring it for now
# 3SsnPorch: Three season porch area in square feet <-- removed because it's homogeneous
# Electrical: Electrical system <-- removed because it's SOMEWHAT homogeneous
# Heating: Type of heating <-- removed because it's homogeneous

removed_cols = ['MiscVal', 'MiscFeature', 'BsmtQual', 'Utilities', "Condition2", "PoolQC", "Fence", "3SsnPorch",
               "Electrical", "Heating"]

training_data = master_training_data.drop(removed_cols, axis=1)
testing_data = master_testing_data.drop(removed_cols, axis=1)

######## Analyzing each column is taking a lot of time.  To get the ball rolling I'm going to 
######## start off with around 20 columns and add more over time

# Foundation: Type of foundation
# BsmtCond: General condition of the basement
# BsmtFinSF1: Type 1 finished square feet
# BsmtFinType2: Quality of second finished area (if present)
# BsmtFinSF2: Type 2 finished square feet
# BsmtExposure: Walkout or garden level basement walls

lazy_removed = ["Foundation", "BsmtCond","BsmtExposure", "BsmtFinSF1", "BsmtFinType2", "BsmtFinSF2"]

training_data = training_data.drop(lazy_removed, axis=1)
testing_data = testing_data.drop(lazy_removed, axis=1)

In [4]:
training_data.head(5)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,LotConfig,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,ScreenPorch,PoolArea,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,Inside,...,0,61,0,0,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,FR2,...,298,0,0,0,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,Inside,...,0,42,0,0,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,Corner,...,0,35,272,0,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,FR2,...,192,84,0,0,0,12,2008,WD,Normal,250000

#### Shortcut to modify both at the same time

In [5]:
full_data = [training_data, testing_data]

#### Grouping lot area

In [7]:
# training_data['LotArea'].describe()

count      1460.000000
mean      10516.828082
std        9981.264932
min        1300.000000
25%        7553.500000
50%        9478.500000
75%       11601.500000
max      215245.000000
Name: LotArea, dtype: float64

In [8]:
# for dataset in full_data:
#     dataset.loc[ dataset['LotArea'] <= 7553.5, 'LotArea'] = 0,
#     dataset.loc[(dataset['LotArea'] > 7553.5) & (dataset['LotArea'] <= 9478.5), 'LotArea'] = 1,
#     dataset.loc[(dataset['LotArea'] > 9478.5) & (dataset['LotArea'] <= 11601.5), 'LotArea'] = 2,
#     dataset.loc[ dataset['LotArea'] > 11601.5, 'LotArea'] = 3

In [9]:
# training_data.head(5)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,LotConfig,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,ScreenPorch,PoolArea,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,1,Pave,NaN,Reg,Lvl,Inside,...,0,61,0,0,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,2,Pave,NaN,Reg,Lvl,FR2,...,298,0,0,0,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,2,Pave,NaN,IR1,Lvl,Inside,...,0,42,0,0,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,2,Pave,NaN,IR1,Lvl,Corner,...,0,35,272,0,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,3,Pave,NaN,IR1,Lvl,FR2,...,192,84,0,0,0,12,2008,WD,Normal,250000

#### Understanding (and modifying) SaleCondition

In [6]:
training_data['SaleCondition'].value_counts()

Normal     1198
Partial     125
Abnorml     101
Family       20
Alloca       12
AdjLand       4
Name: SaleCondition, dtype: int64

In [7]:
sale_cond_map = {"Normal": 0, "Partial": 1, "Abnorml": 2, "Family": 3, "Alloca": 3, "AdjLand": 3}
for dataset in full_data:
    dataset['SaleCondition'] = dataset['SaleCondition'].map(sale_cond_map)

In [8]:
column = 'SaleCondition'
training_data[column].hasnans and testing_data[column].hasnans

False

#### Sale Type

In [9]:
training_data['SaleType'].value_counts()

WD       1267
New       122
COD        43
ConLD       9
ConLw       5
ConLI       5
CWD         4
Oth         3
Con         2
Name: SaleType, dtype: int64

In [10]:
sale_type_map = {"WD": 0, "New": 1, "COD": 2, "ConLD": 2, "ConLw": 2, "ConLI": 2, "CWD": 2, "Oth": 2,"Con": 2}

for dataset in full_data:
    dataset['SaleType'] = dataset['SaleType'].map(sale_type_map)

In [11]:
column = 'SaleType'
training_data[column].hasnans and testing_data[column].hasnans

False

#### Making the numbers in year sold smaller (does this do anything, I just feel compelled to do it)

In [12]:
training_data['YrSold'].value_counts()

2009    338
2007    329
2006    314
2008    304
2010    175
Name: YrSold, dtype: int64

In [13]:
for dataset in full_data:
    dataset['YrSold'] = dataset['YrSold'] - 2006

In [14]:
column = 'YrSold'
training_data[column].hasnans and testing_data[column].hasnans

False

#### Analyzing street column (perhaps I should remove this column?  Not enough data for Grvl... trying anyways)

In [15]:
training_data['Street'].value_counts()

Pave    1454
Grvl       6
Name: Street, dtype: int64

In [16]:
street_map = {"Pave": 0, "Grvl": 1}

for dataset in full_data:
    dataset['Street'] = dataset['Street'].map(street_map)

In [17]:
column = 'Street'
training_data[column].hasnans and testing_data[column].hasnans

False

#### MSSubClass: The building class (checks out, leaving as is)

In [18]:
training_data['MSSubClass'].value_counts()

20     536
60     299
50     144
120     87
30      69
160     63
70      60
80      58
90      52
190     30
85      20
75      16
45      12
180     10
40       4
Name: MSSubClass, dtype: int64

In [19]:
column = 'MSSubClass'
training_data[column].hasnans and testing_data[column].hasnans

False

#### MSZoning: The general zoning classification

In [20]:
training_data['MSZoning'].value_counts()

RL         1151
RM          218
FV           65
RH           16
C (all)      10
Name: MSZoning, dtype: int64

In [21]:
ms_zone_map = {"RL": 0, "RM": 1, "FV": 2, "RH": 2, "C (all)": 2}

for dataset in full_data:
    dataset['MSZoning'] = dataset['MSZoning'].map(ms_zone_map)

In [22]:
column = 'MSZoning'
training_data[column].hasnans and testing_data[column].hasnans

False

#### Alley: Type of alley access

In [23]:
training_data['Alley'].value_counts()

Grvl    50
Pave    41
Name: Alley, dtype: int64

In [24]:
column = 'Alley'
training_data[column].hasnans and testing_data[column].hasnans

True

In [25]:
ms_zone_map = {"Grvl": 0, "Pave": 2}

for dataset in full_data:
    dataset['Alley'] = dataset['Alley'].map(ms_zone_map)

In [26]:
training_data["Alley"].fillna(1, inplace=True)
testing_data["Alley"].fillna(1, inplace=True)

#### LotShape

In [29]:
training_data['LotShape'].value_counts()

Reg    925
IR1    484
IR2     41
IR3     10
Name: LotShape, dtype: int64

In [30]:
lot_shape_map = {"Reg": 0, "IR1": 1, "IR2": 2, "IR3": 2}

for dataset in full_data:
    dataset['LotShape'] = dataset['LotShape'].map(lot_shape_map)

In [31]:
column = 'LotShape'
training_data[column].hasnans and testing_data[column].hasnans

False

#### LandContour

In [32]:
training_data['LandContour'].value_counts()

Lvl    1311
Bnk      63
HLS      50
Low      36
Name: LandContour, dtype: int64

In [33]:
lot_contour_map = {"Lvl": 0, "Bnk": 1, "HLS": 2, "Low": 3}

for dataset in full_data:
    dataset['LandContour'] = dataset['LandContour'].map(lot_contour_map)

In [34]:
column = 'LandContour'
training_data[column].hasnans and testing_data[column].hasnans

False

#### LotConfig: Lot configuration

In [35]:
training_data['LotConfig'].value_counts()

Inside     1052
Corner      263
CulDSac      94
FR2          47
FR3           4
Name: LotConfig, dtype: int64

In [36]:
column = 'LotConfig'
training_data[column].hasnans and testing_data[column].hasnans

False

In [37]:
lot_config_map = {"Inside": 0, "Corner": 1, "CulDSac": 2, "FR2": 3, "FR3": 3}

for dataset in full_data:
    dataset['LotConfig'] = dataset['LotConfig'].map(lot_config_map)

#### LandSlope: Slope of property

In [38]:
training_data['LandSlope'].value_counts()

Gtl    1382
Mod      65
Sev      13
Name: LandSlope, dtype: int64

In [39]:
land_slope_map = {"Gtl": 0, "Mod": 1, "Sev": 1}

for dataset in full_data:
    dataset['LandSlope'] = dataset['LandSlope'].map(land_slope_map)

In [40]:
column = 'LandSlope'
training_data[column].hasnans and testing_data[column].hasnans

False

#### Neighborhood: Physical locations within Ames city limits

### FIXME: This can be easily improved by looking at a map and seeing what neighboorhoods belong with each other

In [41]:
training_data['Neighborhood'].value_counts()

NAmes      225
CollgCr    150
OldTown    113
Edwards    100
Somerst     86
Gilbert     79
NridgHt     77
Sawyer      74
NWAmes      73
SawyerW     59
BrkSide     58
Crawfor     51
Mitchel     49
NoRidge     41
Timber      38
IDOTRR      37
ClearCr     28
StoneBr     25
SWISU       25
MeadowV     17
Blmngtn     17
BrDale      16
Veenker     11
NPkVill      9
Blueste      2
Name: Neighborhood, dtype: int64

In [42]:
# This can be done A LOT better if I looked at a map!
neighborhood_map = {"NAmes": 0, "CollgCr": 1, "OldTown": 2, "Edwards": 3, "Somerst": 4,
                 "Gilbert": 5, "NridgHt": 6, "Sawyer": 7, "NWAmes": 0, "SawyerW": 7,
                  "BrkSide": 8, "Crawfor": 9, "Mitchel": 10, "NoRidge": 10, "Timber": 10,
                  "IDOTRR": 10, "ClearCr": 10, "SWISU": 10, "StoneBr": 10, "Blmngtn": 10,
                "MeadowV": 10, "BrDale": 10, "Veenker": 10, "NPkVill": 10, "Blueste": 10,
                 }

for dataset in full_data:
    dataset['Neighborhood'] = dataset['Neighborhood'].map(neighborhood_map)

In [43]:
column = 'Neighborhood'
training_data[column].hasnans and testing_data[column].hasnans

False

#### Condition1: Proximity to main road or railroad

In [44]:
training_data['Condition1'].value_counts()

Norm      1260
Feedr       81
Artery      48
RRAn        26
PosN        19
RRAe        11
PosA         8
RRNn         5
RRNe         2
Name: Condition1, dtype: int64

In [45]:
condition1_map = {"Norm": 0, "Feedr": 1, "Artery": 1, "RRAn": 1, "PosN": 1,
                 "RRAe": 1, "PosA": 1, "RRNn": 1, "RRNe": 1 }

for dataset in full_data:
    dataset['Condition1'] = dataset['Condition1'].map(condition1_map)

In [46]:
column = 'Condition1'
training_data[column].hasnans and testing_data[column].hasnans

False

#### BldgType: Type of dwelling

In [47]:
training_data['BldgType'].value_counts()

1Fam      1220
TwnhsE     114
Duplex      52
Twnhs       43
2fmCon      31
Name: BldgType, dtype: int64

In [48]:
bldg_type_map = {"1Fam": 0, "TwnhsE": 1, "Duplex": 2, "Twnhs": 2, "2fmCon": 2}

for dataset in full_data:
    dataset['BldgType'] = dataset['BldgType'].map(bldg_type_map)

In [49]:
column = 'BldgType'
training_data[column].hasnans and testing_data[column].hasnans

False

#### HouseStyle: Style of dwelling

In [50]:
training_data['HouseStyle'].value_counts()

1Story    726
2Story    445
1.5Fin    154
SLvl       65
SFoyer     37
1.5Unf     14
2.5Unf     11
2.5Fin      8
Name: HouseStyle, dtype: int64

In [51]:
house_style_map = {"1Story": 0, "2Story": 1, "1.5Fin": 2, "SLvl": 3, "SFoyer": 3,
                "1.5Unf": 3, "2.5Unf": 3, "2.5Fin": 3}

for dataset in full_data:
    dataset['HouseStyle'] = dataset['HouseStyle'].map(house_style_map)

In [52]:
column = 'HouseStyle'
training_data[column].hasnans and testing_data[column].hasnans

False

In [77]:
training_data['TotRmsAbvGrd'].value_counts()

6     402
7     329
5     275
8     187
4      97
9      75
10     47
11     18
3      17
12     11
14      1
2       1
Name: TotRmsAbvGrd, dtype: int64

### Predictions!!

In [80]:
predictor_cols = ['1stFlrSF','2ndFlrSF', 'Alley', 'BldgType', 'Condition1', 'Fireplaces', 'FullBath', 'GarageArea',
                 'GarageCars', 'GrLivArea', 'HalfBath', 'HouseStyle', 'LandSlope', 'LotArea', 'LotConfig',
                 'LotFrontage', 'LotShape', 'MSSubClass', 'MSZoning', 'MoSold', 'Neighborhood', 'OpenPorchSF',
                 'SaleCondition', 'SaleType', 'TotRmsAbvGrd', 'TotalBsmtSF', 'WoodDeckSF', 'YearRemodAdd', 'YrSold']

train_x = training_data[predictor_cols]
train_y = training_data.SalePrice
test_x = testing_data[predictor_cols]

### Cross Validation scores

Using r2
XGBoost
- 18 predictors = 0.7702056269772473
- 24 predictors = 0.8018358449730526
- 27 predictors = 0.8299348333411789
- 29 predictors = 0.8479059750863349

SVC
- 27 predictors = -0.27731475311827614

RandomForestRegressor
- 27 predictors = 0.7931188734757507

In [81]:
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score

k_fold = KFold(n_splits=10, shuffle=True, random_state=0)

In [82]:
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import Imputer
from sklearn.svm import SVC
from xgboost import XGBRegressor

pipeline = make_pipeline(Imputer(), XGBRegressor())

scoring = 'accuracy'
score = cross_val_score(pipeline, train_x, train_y, cv=k_fold, n_jobs=1, scoring="r2")
print(score)
print("\nAverage is ...")
print(sum(score) / len(score))

[0.84534254 0.84696908 0.87092542 0.85711615 0.75591552 0.814298
 0.85562347 0.88246566 0.86709682 0.88330709]

Average is ...
0.8479059750863349

In [83]:
pipeline.fit(train_x, train_y)

Pipeline(memory=None,
     steps=[('imputer', Imputer(axis=0, copy=True, missing_values='NaN', strategy='mean', verbose=0)), ('xgbregressor', XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, learning_rate=0.1, max_delta_step=0,
       max_depth=3, min_child_weight=1, missing=None, n_estimators=100,
       n_jobs=1, nthread=None, objective='reg:linear', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=True, subsample=1))])

In [84]:
prediction = pipeline.predict(test_x)

In [85]:
submission = pd.DataFrame({
        "Id": testing_data["Id"],
        "SalePrice": prediction
    })

submission.to_csv('/Users/pbezuhov/git/Kaggle/submissions/3_more_columns.csv', index=False)