In [1]:
import pandas as pd

**Exercise 1**: Create a `DataFrame` that looks like this:

![](https://i.imgur.com/Ax3pp2A.png)

In [3]:
pd.DataFrame({
    "Apples": [30],
    "Bananas": [21]
})

   Apples  Bananas
0      30       21

**Exercise 2**: Create the following `DataFrame`:

![](https://i.imgur.com/CHPn7ZF.png)

In [5]:
pd.DataFrame({
    "Apples": [35, 41],
    "Bananas": [21, 34]
}, index=["2017 Sales", "2018 Sales"])

            Apples  Bananas
2017 Sales      35       21
2018 Sales      41       34

**Exercise 3**: Create a `Series` that looks like this:

```
Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name: Dinner, dtype: object
```

In [6]:
pd.Series(
    ["4 cups", "1 cup", "2 large", "1 can"],
    index=["Flour", "Milk", "Eggs", "Spam"],
    name="Dinner"
)

Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name: Dinner, dtype: object

**Exercise 4**: Read the following `csv` dataset on wine reviews into the a `DataFrame`:

![](https://i.imgur.com/74RCZtU.png)

The filepath to the CSV file is `../input/wine-reviews/winemag-data_first150k.csv`.

In [ ]:
# NOTE: this file has not been downloaded however this is the correct answer
pd.read_csv("../input/wine-reviews/winemag-data_first150k.csv", index_col=0)

**Exercise 5**: Read the following `xls` sheet into a `DataFrame`: 

![](https://i.imgur.com/QZJBIBF.png)

The filepath to the XLS file is `../input/publicassistance/xls_files_all/WICAgencies2014ytd.xls`.

Hint: the name of the method you need inclues the word `excel`. The name of the sheet is `Pregnant Women Participating`. Don't do any cleanup.

In [ ]:
# NOTE: this file has not been downloaded however this is the correct answer
pd.read_excel("../input/publicassistance/xls_files_all/WICAgencies2014ytd.xls", sheet_name="Pregnant Women Participating")

**Exercise 6**: Suppose we have the following `DataFrame`:

In [8]:
q6_df = pd.DataFrame({'Cows': [12, 20], 'Goats': [22, 19]}, index=['Year 1', 'Year 2'])

Save this `DataFrame` to disc as a `csv` file with the name `cows_and_goats.csv`.

In [9]:
q6_df.to_csv("cows_and_goats.csv")

**Exercise 7**: This exercise is optional. Read the following `SQL` data into a `DataFrame`:

![](https://i.imgur.com/mmvbOT3.png)

The filepath is `../input/pitchfork-data/database.sqlite`. Hint: use the `sqlite3` library.

In [ ]:
import sqlite3

conn = sqlite3.connect("../input/pitchfork-data/database.sqlite")
pd.read_sql_query("SELECT * FROM artists", conn)