### Imports

In [2]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

### Load data

In [18]:
mpi_region = pd.read_csv("../../data/kiva/kiva_mpi_region_locations.csv")
mpi_region.fillna(np.nan)
mpi_region.head(5)

,LocationName,ISO,country,region,world_region,MPI,geo,lat,lon
0,"Badakhshan, Afghanistan",AFG,Afghanistan,Badakhshan,South Asia,0.387,"(36.7347725, 70.81199529999999)",36.734772,70.811995
1,"Badghis, Afghanistan",AFG,Afghanistan,Badghis,South Asia,0.466,"(35.1671339, 63.7695384)",35.167134,63.769538
2,"Baghlan, Afghanistan",AFG,Afghanistan,Baghlan,South Asia,0.300,"(35.8042947, 69.2877535)",35.804295,69.287754
3,"Balkh, Afghanistan",AFG,Afghanistan,Balkh,South Asia,0.301,"(36.7550603, 66.8975372)",36.755060,66.897537
4,"Bamyan, Afghanistan",AFG,Afghanistan,Bamyan,South Asia,0.325,"(34.8100067, 67.8212104)",34.810007,67.821210

In [19]:
pd.DataFrame({
    "Total": len(mpi_region),
    "Missing": mpi_region.isnull().sum()
})

              Missing  Total
LocationName     1788   2772
ISO              1764   2772
country          1764   2772
region           1788   2772
world_region     1764   2772
MPI              1788   2772
geo                 0   2772
lat              1880   2772
lon              1880   2772

### Retrieving the city name out of the LocationName column

In [31]:
mpi_region["city"] = mpi_region.LocationName.map(lambda x: "unknown" if x is np.nan else x.split(",")[0])
mpi_region = mpi_region.drop("LocationName", axis=1)

,ISO,country,region,world_region,MPI,geo,lat,lon,city
0,AFG,Afghanistan,Badakhshan,South Asia,0.387,"(36.7347725, 70.81199529999999)",36.734772,70.811995,Badakhshan
1,AFG,Afghanistan,Badghis,South Asia,0.466,"(35.1671339, 63.7695384)",35.167134,63.769538,Badghis
2,AFG,Afghanistan,Baghlan,South Asia,0.300,"(35.8042947, 69.2877535)",35.804295,69.287754,Baghlan
3,AFG,Afghanistan,Balkh,South Asia,0.301,"(36.7550603, 66.8975372)",36.755060,66.897537,Balkh
4,AFG,Afghanistan,Bamyan,South Asia,0.325,"(34.8100067, 67.8212104)",34.810007,67.821210,Bamyan
5,AFG,Afghanistan,Daykundi,South Asia,0.313,"(33.669495, 66.0463534)",33.669495,66.046353,Daykundi
6,AFG,Afghanistan,Farah,South Asia,0.319,"(32.4464635, 62.1454133)",32.446464,62.145413,Farah
7,AFG,Afghanistan,Faryab,South Asia,0.250,"(36.0795613, 64.90595499999999)",36.079561,64.905955,Faryab
8,AFG,Afghanistan,Ghazni,South Asia,0.245,"(33.5450587, 68.4173972)",33.545059,68.417397,Ghazni
9,AFG,Afghanistan,Ghor,South Asia,0.384,"(34.0995776, 64.90595499999999)",34.099578,64.905955,Ghor
10,AFG,Afghanistan,Helmand,South Asia,0.261,"(31.3636474, 63.95861110000001)",31.363647,63.958611,Helmand
11,AFG,Afghanistan,Herat,South Asia,0.353,"(11.6155109, 104.3791912)",11.615511,104.379191,Herat
12,AFG,Afghanistan,Jawzjan,South Asia,0.293,"(36.8969692, 65.6658568)",36.896969,65.665857,Jawzjan
13,AFG,Afghanistan,Kabul,South Asia,0.117,"(34.5553494, 69.207486)",34.555349,69.207486,Kabul
14,AFG,Afghanistan,Kandahar,South Asia,0.437,"(31.628871, 65.7371749)",31.628871,65.737175,Kandahar
15,AFG,Afghanistan,Kapisa,South Asia,0.280,"(34.9810572, 69.6214562)",34.981057,69.621456,Kapisa
16,AFG,Afghanistan,Khost,South Asia,0.296,"(33.3338472, 69.9371673)",33.333847,69.937167,Khost
17,AFG,Afghanistan,Kunarha,South Asia,0.269,"(34.8465893, 71.097317)",34.846589,71.097317,Kunarha
18,AFG,Afghanistan,Kunduz,South Asia,0.294,"(36.7285907, 68.8680663)",36.728591,68.868066,Kunduz
19,AFG,Afghanistan,Laghman,South Asia,0.369,"(34.6897687, 70.1455805)",34.689769,70.145581,Laghman
20,AFG,Afghanistan,Logar,South Asia,0.187,"(34.0145518, 69.1923916)",34.014552,69.192392,Logar
21,AFG,Afghanistan,Nangarhar,South Asia,0.287,"(34.1718313, 70.6216794)",34.171831,70.621679,Nangarhar
22,AFG,Afghanistan,Nimroz,South Asia,0.231,"(31.0261488, 62.4504154)",31.026149,62.450415,Nimroz
23,AFG,Afghanistan,Nooristan,South Asia,0.611,"(35.3250223, 70.90712359999999)",35.325022,70.907124,Nooristan
24,AFG,Afghanistan,Paktika,South Asia,0.137,"(32.2645386, 68.52471489999999)",32.264539,68.524715,Paktika
25,AFG,Afghanistan,Paktya,South Asia,0.218,"(33.706199, 69.3831079)",33.706199,69.383108,Paktya
26,AFG,Afghanistan,Panjsher,South Asia,0.120,"(35.5025772, 69.9550338)",35.502577,69.955034,Panjsher
27,AFG,Afghanistan,Parwan,South Asia,0.294,"(34.9630977, 68.81088489999999)",34.963098,68.810885,Parwan
28,AFG,Afghanistan,Samangan,South Asia,0.350,"(35.9807296, 67.57085359999999)",35.980730,67.570854,Samangan
29,AFG,Afghanistan,Sar-E-Pul,South Asia,0.341,"(35.6707473, 66.0463534)",35.670747,66.046353,Sar-E-Pul
...,...,...,...,...,...,...,...,...,...
2742,NaN,NaN,NaN,NaN,NaN,"(1000.0, 1000.0)",NaN,NaN,unknown
2743,NaN,NaN,NaN,NaN,NaN,"(1000.0, 1000.0)",NaN,NaN,unknown
2744,NaN,NaN,NaN,NaN,NaN,"(1000.0, 1000.0)",NaN,NaN,unknown
2745,NaN,NaN,NaN,NaN,NaN,"(1000.0, 1000.0)",NaN,NaN,unknown
2746,NaN,NaN,NaN,NaN,NaN,"(1000.0, 1000.0)",NaN,NaN,unknown
2747,NaN,NaN,NaN,NaN,NaN,"(1000.0, 1000.0)",NaN,NaN,unknown
2748,NaN,NaN,NaN,NaN,NaN,"(1000.0, 1000.0)",NaN,NaN,unknown
2749,NaN,NaN,NaN,NaN,NaN,"(1000.0, 1000.0)",NaN,NaN,unknown
2750,NaN,NaN,NaN,NaN,NaN,"(1000.0, 1000.0)",NaN,NaN,unknown
2751,NaN,NaN,NaN,NaN,NaN,"(1000.0, 1000.0)",NaN,NaN,unknown
2752,NaN,NaN,NaN,NaN,NaN,"(1000.0, 1000.0)",NaN,NaN,unknown
2753,NaN,NaN,NaN,NaN,NaN,"(1000.0, 1000.0)",NaN,NaN,unknown
2754,NaN,NaN,NaN,NaN,NaN,"(1000.0, 1000.0)",NaN,NaN,unknown
2755,NaN,NaN,NaN,NaN,NaN,"(1000.0, 1000.0)",NaN,NaN,unknown
2756,NaN,NaN,NaN,NaN,NaN,"(1000.0, 1000.0)",NaN,NaN,unknown
2757,NaN,NaN,NaN,NaN,NaN,"(1000.0, 1000.0)",NaN,NaN,unknown
2758,NaN,NaN,NaN,NaN,NaN,"(1000.0, 1000.0)",NaN,NaN,unknown
2759,NaN,NaN,NaN,NaN,NaN,"(1000.0, 1000.0)",NaN,NaN,unknown
2760,NaN,NaN,NaN,NaN,NaN,"(1000.0, 1000.0)",NaN,NaN,unknown
2761,NaN,NaN,NaN,NaN,NaN,"(1000.0, 1000.0)",NaN,NaN,unknown
2762,NaN,NaN,NaN,NaN,NaN,"(1000.0, 1000.0)",NaN,NaN,unknown
2763,NaN,NaN,NaN,NaN,NaN,"(1000.0, 1000.0)",NaN,NaN,unknown
2764,NaN,NaN,NaN,NaN,NaN,"(1000.0, 1000.0)",NaN,NaN,unknown
2765,NaN,NaN,NaN,NaN,NaN,"(1000.0, 1000.0)",NaN,NaN,unknown
2766,NaN,NaN,NaN,NaN,NaN,"(1000.0, 1000.0)",NaN,NaN,unknown
2767,NaN,NaN,NaN,NaN,NaN,"(1000.0, 1000.0)",NaN,NaN,unknown
2768,NaN,NaN,NaN,NaN,NaN,"(1000.0, 1000.0)",NaN,NaN,unknown
2769,NaN,NaN,NaN,NaN,NaN,"(1000.0, 1000.0)",NaN,NaN,unknown
2770,NaN,NaN,NaN,NaN,NaN,"(1000.0, 1000.0)",NaN,NaN,unknown
2771,NaN,NaN,NaN,NaN,NaN,"(1000.0, 1000.0)",NaN,NaN,unknown

In [30]:
mpi_region.LocationName.iloc[2742] is np.nan

True