### Imports

In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
sns.set()

import warnings
warnings.filterwarnings('ignore')

### Load data

In [2]:
theme_ids = pd.read_csv("../../data/kiva/loan_theme_ids.csv")
theme_ids.fillna(np.nan)
theme_ids.head(5)

       id    Loan Theme ID          Loan Theme Type  Partner ID
0  638631  a1050000000skGl                  General       151.0
1  640322  a1050000000skGl                  General       151.0
2  641006  a1050000002X1ij         Higher Education       160.0
3  641019  a1050000002X1ij         Higher Education       160.0
4  641594  a1050000002VbsW  Subsistence Agriculture       336.0

### Checking for missing values

In [17]:
pd.DataFrame({
    "Total": len(theme_ids),
    "Missing": theme_ids.isnull().sum()
})

                 Missing   Total
id                     0  779091
Loan Theme ID      14813  779091
Loan Theme Type    14813  779091
Partner ID         14813  779091

### Drop all NaN rows

The amount missing is small compared to the total.  Also not much information can be gathered from just the id column

In [33]:
theme_ids = theme_ids.dropna()

pd.DataFrame({
    "Total": len(theme_ids),
    "Missing": theme_ids.isnull().sum()
})

                 Missing   Total
id                     0  764278
Loan Theme ID          0  764278
Loan Theme Type        0  764278
Partner ID             0  764278

### Interesting

Values for 'Loan Theme ID', 'Loan Theme Type', and 'Partner ID' were all contained in the same rows

In [34]:
779091 - 14813 == 764278

True

### Also, Partner ID should be an int not a float

In [35]:
theme_ids["Partner ID"] = theme_ids["Partner ID"].map(int)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.