# Score: 66.507%

In [12]:
import pandas as pd
from xgboost import XGBRegressor
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import Imputer

data = pd.read_csv('../data/titanic/train.csv')

In [13]:
data.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [39]:
data = pd.read_csv('../data/titanic/train.csv')
y = data.Survived
X = data.drop(['Survived', 'Name', 'PassengerId', 'Ticket', "Cabin"], axis=1)
X = pd.get_dummies(X)
train_x, test_x, train_y, test_y = train_test_split(X.as_matrix(), y.as_matrix(), test_size=0.25)

imputer = Imputer()
train_x = imputer.fit_transform(train_x)
test_x = imputer.transform(test_x)

In [40]:
model = XGBRegressor()
model.fit(train_x, train_y, verbose=False)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, learning_rate=0.1, max_delta_step=0,
       max_depth=3, min_child_weight=1, missing=None, n_estimators=100,
       n_jobs=1, nthread=None, objective='reg:linear', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=True, subsample=1)

In [41]:
predictions = model.predict(test_x)

print("Mean Absolute Error : " + str(mean_absolute_error(predictions, test_y)))

Mean Absolute Error : 0.25501578498314315

In [65]:
test = pd.read_csv('../data/titanic/test.csv')
test_x = test.drop(['Name', 'PassengerId', 'Ticket', 'Cabin'], axis=1)
test_x = pd.get_dummies(test_x)
test_x

,Pclass,Age,SibSp,Parch,Fare,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
0,3,34.5,0,0,7.8292,0,1,0,1,0
1,3,47.0,1,0,7.0000,1,0,0,0,1
2,2,62.0,0,0,9.6875,0,1,0,1,0
3,3,27.0,0,0,8.6625,0,1,0,0,1
4,3,22.0,1,1,12.2875,1,0,0,0,1
5,3,14.0,0,0,9.2250,0,1,0,0,1
6,3,30.0,0,0,7.6292,1,0,0,1,0
7,2,26.0,1,1,29.0000,0,1,0,0,1
8,3,18.0,0,0,7.2292,1,0,1,0,0
9,3,21.0,2,0,24.1500,0,1,0,0,1
10,3,NaN,0,0,7.8958,0,1,0,0,1
11,1,46.0,0,0,26.0000,0,1,0,0,1
12,1,23.0,1,0,82.2667,1,0,0,0,1
13,2,63.0,1,0,26.0000,0,1,0,0,1
14,1,47.0,1,0,61.1750,1,0,0,0,1
15,2,24.0,1,0,27.7208,1,0,1,0,0
16,2,35.0,0,0,12.3500,0,1,0,1,0
17,3,21.0,0,0,7.2250,0,1,1,0,0
18,3,27.0,1,0,7.9250,1,0,0,0,1
19,3,45.0,0,0,7.2250,1,0,1,0,0
20,1,55.0,1,0,59.4000,0,1,1,0,0
21,3,9.0,0,1,3.1708,0,1,0,0,1
22,1,NaN,0,0,31.6833,1,0,0,0,1
23,1,21.0,0,1,61.3792,0,1,1,0,0
24,1,48.0,1,3,262.3750,1,0,1,0,0
25,3,50.0,1,0,14.5000,0,1,0,0,1
26,1,22.0,0,1,61.9792,1,0,1,0,0
27,3,22.5,0,0,7.2250,0,1,1,0,0
28,1,41.0,0,0,30.5000,0,1,0,0,1
29,3,NaN,2,0,21.6792,0,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...
388,3,21.0,0,0,7.7500,0,1,0,1,0
389,3,6.0,3,1,21.0750,0,1,0,0,1
390,1,23.0,0,0,93.5000,0,1,0,0,1
391,1,51.0,0,1,39.4000,1,0,0,0,1
392,3,13.0,0,2,20.2500,0,1,0,0,1
393,2,47.0,0,0,10.5000,0,1,0,0,1
394,3,29.0,3,1,22.0250,0,1,0,0,1
395,1,18.0,1,0,60.0000,1,0,0,0,1
396,3,24.0,0,0,7.2500,0,1,0,1,0
397,1,48.0,1,1,79.2000,1,0,1,0,0
398,3,22.0,0,0,7.7750,0,1,0,0,1
399,3,31.0,0,0,7.7333,0,1,0,1,0
400,1,30.0,0,0,164.8667,1,0,0,0,1
401,2,38.0,1,0,21.0000,0,1,0,0,1
402,1,22.0,0,1,59.4000,1,0,1,0,0
403,1,17.0,0,0,47.1000,0,1,0,0,1
404,1,43.0,1,0,27.7208,0,1,1,0,0
405,2,20.0,0,0,13.8625,0,1,1,0,0
406,2,23.0,1,0,10.5000,0,1,0,0,1
407,1,50.0,1,1,211.5000,0,1,1,0,0
408,3,NaN,0,0,7.7208,1,0,0,1,0
409,3,3.0,1,1,13.7750,1,0,0,0,1
410,3,NaN,0,0,7.7500,1,0,0,1,0
411,1,37.0,1,0,90.0000,1,0,0,1,0
412,3,28.0,0,0,7.7750,1,0,0,0,1
413,3,NaN,0,0,8.0500,0,1,0,0,1
414,1,39.0,0,0,108.9000,1,0,1,0,0
415,3,38.5,0,0,7.2500,0,1,0,0,1
416,3,NaN,0,0,8.0500,0,1,0,0,1
417,3,NaN,1,1,22.3583,0,1,1,0,0

In [93]:
submission = model.predict(test_x.as_matrix())

for i in range(len(submission)):
    result = submission[i]
    if result < 0.5:
        submission[i] = 0
    else:
        submission[i] = 1
submission = submission.astype(int)
submission

array([0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0,
       1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1,
       1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1,
       1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0,
       1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0,
       0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1,
       0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1,
       1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1,
       0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1,
       1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1,
       0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1,
       0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0,
       1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1,
       0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0,
       1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0,
       0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0,
       1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1])

In [95]:
columns = ["PassengerId", "Survived"]
ids = test['PassengerId'].as_matrix()
data = list(zip(ids, list(submission)))
save_file('/Users/pbezuhov/Desktop/titanic.csv', data, columns)